body {
    background-color: rgb(255, 255, 247);
}

.menu_container {
    background-color: grey;
    width: 100%;
    border: 2px solid grey;
}

h1 {
    font-size: 6em;
    text-align: center;
    color: rgb(33, 27, 119);
}

h2 {
    color: tomato;
    text-align: center;
    font-size: 3em;
}

ul {
    list-style-type: none;
    text-align: center;
}

a.nav_btns {
    color: wheat;
    text-decoration: none;
    background-color: grey;
    padding: 6px 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.nav_menu li {
    display: inline;
}

a.nav_btns:hover {
    color: rgb(76, 66, 146);
}


a {
    color: tomato;
    text-align: left;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
}

a:hover {
    color: rgb(76, 66, 146);
}

a.menu {
    color: black;
    text-decoration: none;    
}

a.menu:hover {
    color: rgb(76, 66, 146);
}

div.example {
    text-align: center;
    color: wheat;
    background: gray;
    position: relative;
}

div.dropDownMenu {
    position: relative;
    display: inline-block;
}

div.dropDownMenu a:hover {
    background-color: wheat;
}

.dropDownMenu-content {
    display: none;
    position: absolute;
    background-color: rgb(114, 101, 196);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownMenu-content a {
    color: tomato;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    font-size: 1em;
}

.menuBtn {
    background-color: tomato;
    color: wheat;
    padding: 6px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.menuBtn:hover, .menuBtn:focus {
    background-color: rgb(76, 66, 146);
}

.show {
    display: block;
}

#output { 
    width: 75%;
}

.output {
    text-align: center;
}

#output_array {
    width: 35%;
}

#output_json {
    width: 100%;
}

.JSONexampleContainer {
    text-align: left;
    word-wrap: break-word;
}

.left_align {
    text-align: left;
}

.cool_buttons {
    background-color: wheat;
    color: rgb(114, 101, 196);
    padding: 6px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width: 120px;
}

.cool_buttons:hover {
    background-color: tomato;
}

.button_list {
    width: 75%;
    text-align: right;
    display: inline-block;
}

#containerDiv {
    height: 200px;
    display: flex;
    align-content: center;
}

#parentDiv {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#addColorDivBtn {
    width: 100%;
    height: 50px;
}

.colordemo {
    background-color: black;
    height: 50px;
    width: 20%;
    float: left;
}

#colorCleanup {
    background-color: wheat;
    color: black;
    font-size: 2em;
    height: 150px;
    width: 100%;
    position: absolute;
    float: center;
    text-align: center;
}

#inputDiv {
    background-color: gray;
    padding: 5px;
    
}

#exampleCSS {
    background-color: black;
    width: 200px;
    height: 200px;
    position: relative;
    left: 20px;
    top: 20px;
}

#exampleCSS:hover {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: exampleCSS;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleCSS {
    from {background-color: black;}
    to {background-color: #B87333;}
}

/* Standard syntax */
@keyframes exampleCSS {
    from {background-color: black;}
    to {background-color: #B87333;}
}

#exampleCSS2 {
    background-color: cyan;
    width: 200px;
    height: 200px;
    position: relative;
    left: 20px;
    top: 20px;
    -webkit-animation-name: exampleCSS2;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: exampleCSS2;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleCSS2 {
    0%   {background-color: paleturquoise; left:20px; top:20px;}
    25%  {background-color: palevioletred; left:100%; top:20px;}
    50%  {background-color: limegreen; left:100%; top:100%;}
    75%  {background-color: lemonchiffon; left:20px; top:100%;}
    100% {background-color: seagreen; left:20px; top:20px;}
}
@keyframes exampleCSS2 {
    0%   {background-color: paleturquoise; left:20px; top:20px;}
    25%  {background-color: palevioletred; left:75%; top:20px;}
    50%  {background-color: limegreen; left:75%; top:200px;}
    75%  {background-color: lemonchiffon; left:20px; top:200px;}
    100% {background-color: seagreen; left:20px; top:20px;}
}

#exampleCSS3 {
    width: 200px;
    height: 200px;
    background-color: pink;
    position: relative;
}

@keyframes changes {
    0% {top: 10px;}
    50% {top: 20px;}
    100% {top: 50px;}
}

#movediv {
    height: 500px;
}

#cssdiv {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transitionContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

#transition1 {
    width: 200px;
    height: 200px;
    background: blue;
    font-size: 18px;
    transition: width 4s, height 3s, font-size 5s;
}

#transition1:hover {
    width: 400px;
    height: 400px;
    background: purple;
    font-size: 32px;
}

#transition2 {
    width: 200px;
    height: 200px;
    background: yellow;
    font-size: 18px;
    color: purple;
    transition: width 4s, height 3s, font-size 5s, transform 10s;
    transition-delay: 2s;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

#transition2:hover {
    width: 400px;
    height: 400px;
    font-size: 32px;
    text-align: center;
    transform: rotate(720deg);
}

#transition3 {
	height: 200px;
    width: 200px;
    background: red;
    font-size: 18px;
    transition: width 4s, height 4s, font-size 5s;
}

#transition3:action {
    height: 20px;
    width: 20px;
    font-size: 8px;
    background: black;
}