body {
    background-color: rgb(226, 230, 243);
}

h1 {
    text-align: center;
    color: tomato;
}

ul {
    list-style-type: none;
    text-align: center;
}

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: slateblue;
}